<div class="heading">
</div>
<div id="search">
  
  <input type="text" placeholder="Enter Name" style="height: 30px; width: 120px; " [(ngModel)]="searchId">
</div>




<div class="table-box" >
    <table cellpadding="10px"  >
      <thead class="fixed-header">
        <tr>
        
        <th>Select</th>
        <th>name</th>
        <th>phone</th>
        <th>email</th>
        <th>company</th>
        <th>date_entry</th>
        <th>org_num</th>
        <th>address_1</th>
        <th>city</th>
        <th>zip</th>
        <th>geo</th>
        <th>pan</th>
        <th>pin</th>
        <th>id</th>
        <th>status</th>
        <th>fee</th>
        <th>guid</th>
        <th>date_exit</th>
        <th>date_first</th>
        <th>date_recent</th>
        <th>url</th>
        <th>Submit</th>
      </tr>
     
      </thead>
      
      <tbody>
        <tr *ngFor="let detail of details |tablepipe : searchId | slice:startIndex:endIndex  ">
          
          <td><input type="checkbox" name="name1" />&nbsp;</td>
          <td>{{detail.name}}</td>
          <td>{{detail.phone}}</td>
          <td>{{detail.email}}</td>
          <td>{{detail.company}}</td>
          <td>{{detail.date_entry}}</td>
          <td>{{detail.org_num}}</td>
          <td>{{detail.address_1}}</td>
          <td>{{detail.city}}</td>
          <td>{{detail.zip}}</td>
          <td>{{detail.geo}}</td>
          <td>{{detail.pan}}</td>
          <td>{{detail.pin}}</td>
          <td>{{detail.id}}</td>
          <td>{{detail.status}}</td>
          <td>{{detail.fee}}</td>
          <td>{{detail.guid}}</td>
          <td>{{detail.date_entry}}</td>
          <td>{{detail.date_first}}</td>
          <td>{{detail.date_recent}}</td>
          <td>{{detail.url}}</td>
          <td><button>Submit</button></td>
        </tr>
    
      </tbody>
      
    </table>
    </div>

    <div class="center">
    <div class="pagination" >
      <ul>
      <li *ngFor="let i of updatePageNum(details.length) ; let in=index"><a (click)=" updateIndex(in)" >{{in+1}}</a></li>
    </ul>
      
    </div>
  </div>

    